@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~@fortawesome/fontawesome-free/css/all.css";

@layer components {
    .nav-hover {
        @apply bg-slate-200 !text-slate-900;
    }

    .nav {
        @apply grid justify-items-center items-center w-full h-full cursor-pointer;
    }

    .primary-btn {
        @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800;
    }

    .dark-btn {
        @apply bg-slate-950 w-32 h-10 rounded-lg text-white;
    }

    .danger-btn {
        @apply focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900;
    }

    .product-modal {
        @apply absolute w-[35%] h-[70%] top-[15%] left-[35%] border border-slate-500 rounded-md bg-slate-50 grid grid-cols-1 grid-rows-8;
    }

    .product-form > .inputs > input {
        @apply bg-slate-50 border pl-3 max-h-12 max-w-[90%] w-full mt-5;
    }

    #product_table tr:nth-child(even) {
        @apply bg-slate-200;
    }

    #product_table tr:nth-child(odd) {
        @apply bg-slate-300;
    }

    .unlisted {
        @apply w-[100%] h-full grid grid-cols-4 text-sm font-medium mt-2 mb-3 text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white;
    }

    .custom-line-through {
        text-decoration: line-through;
        text-decoration-color: red; /* Change to your desired color */
    }

    .card {
        background-size: 100% 60%;
        @apply bg-slate-900 grid max-w-[350px] relative w-[320px] h-[550px] bg-no-repeat rounded-2xl shadow-lg;
    }

    .outOfStock {
        @apply opacity-50 pointer-events-none cursor-not-allowed;
    }

    .dash-card {
        background-color: rgb(44 175 254);
        @apply h-[60%] w-[90%] text-slate-100 rounded-lg shadow-lg  grid grid-cols-2 justify-items-center items-center;
    }

    .nav-container {
        grid-template-rows: repeat(5, minmax(50px, 100px));
        @apply grid grid-cols-1 row-span-4 text-slate-100 pt-10 items-start; 
    }

    /* .nav-container > div {
        @apply min-w-full h-[50%] text-center;
    } */
}